/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

/*Remove default margins,padding & set box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  min-width: 320px;
  max-height: 1080px;
  margin: 0 auto;
}

.page {
  max-width: 1292px;
  max-height: 100%;
  margin: 0 auto;
  padding: 3% 5% 2%;
  background-color: #181719;
  color: #FFF;
  border-radius: 12px;
}

/*header styles*/
.header {
  width: 100%;
  padding-bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-family: 'Crimson Pro', serif;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  padding: 1%;
  border: 1px solid #FFF;
}

/*navigation styles within header*/
.nav {
  display: flex;
  list-style-type: none;
  width: 35%;
  justify-content: space-between;
}

/*.nav__item {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;  
}*/

.nav__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.nav__link_active {
  border-bottom: 2px solid #FFF;
  font-weight: 700;
}

.content {
  width: 100%;
  display: flex;
  /*align-items: center;*/
}

.content__description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content__description-heading {
  font-family: 'Lora', serif;
  font-size: 48px;
  font-weight: 500;
}

.content__description-text {
  width: 70%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;

}

.content__action {
  display: flex;
  align-items: center;
  width: 50%;
}

.content__action-text {
  width: 42%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.content__graphic-elements {
  width: 100%;
  position: relative;
}

.content__img {
  width: 100%;
}

/*styles for the content card*/
.content__card {
  width: 50%;
  background-color: #181719;
  position: absolute;
  top: 361px;
  right: 44px;
  box-shadow: 0px 4px 5px 0px #000000;
}

.content__card-content {
  width: 100%;
  padding: 8% 9%;
  display: flex;
  align-items: center;
}

.content__card-img {
  width: 20%;
  border-radius: 50%;
  margin-right: 18px;
}

.content__card-contact {
  width: 50%;
}

.content__card-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5%;
}

.content__card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #828282;
}

.content__card-caption {
  width: 70%;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 8% 10%;
  line-height: 25.75px;
}

/*footer styles*/
.footer {
  margin-top: 20%;
  font-family: 'Montserrat', sans-serif;
  color: #A9A9;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}

/*media queries*/
/*small laptop*/
@media screen and (max-width: 1024px) {

}
